<NavLink href="@Href" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@Item.ProductName</h5>
    </div>
    <img src="@Item.ImgUrl" alt="@Item.ProductName" />
    <p class="mb-1">@Item.ShortDescription</p>
    <p class="mb-1">@Item.LongDescription</p>
    <small>@Item.Id</small>
</NavLink>


@code {
    [Parameter]
    public Product Item { get; set; }
    public string Href { get; set; }


    protected override void OnInitialized()
    {
        Href = "product/" + Item.Id.ToString();
    }

}
