
  @*  <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">@Item.ProductName</h5>
    </div>
    <img src="@Item.ImgUrl" alt="@Item.ProductName" />
    <p class="mb-1">@Item.ShortDescription</p>
    <p class="mb-1">@Item.LongDescription</p>
    <small>@Item.Id</small>*@
    <NavLink href="@Href" class="m-3">
        <div class="card" style="width: 20rem;">
            <img src="@Item.ImgUrl" class="card-img-top" alt="@Item.ProductName" style="width: 20rem; height: 20rem">
            <div class="card-body">
                <h5 class="card-title">@Item.ProductName</h5>
                <p class="card-text">@Item.ShortDescription</p>
                <a href="@Href" class="btn btn-primary">Details</a>
            </div>
        </div>
    </NavLink>


@code {
    [Parameter]
    public Product Item { get; set; }
    public string Href { get; set; }


    protected override void OnInitialized()
    {
        Href = "product/" + Item.Id.ToString();
    }

}
